<template name="usergroups">
    {{#if isInRole 'Administrador'}}
    <div class="container">
        <div class="row text-center">
            <h1>Grupos e Usuários</h1>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <table class="table">
                    <tr>
                        <th>Nome Completo</th>
                        <th>Email</th>
                        <th>Matriculado Em</th>
                        <th>Permissões</th>
                    </tr>
                    {{#each users}}
                    <tr>
                        <td>{{profile.name}}</td>
                        <td>{{userEmail}}</td>
                        <td>{{createdAt}}</td>
                        <td>
                            <div>
                                    <p>ICB: [coordenador, piloto]</p>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </table>

            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
    {{else}}
        <h1>Não Autorizado</h1>
    {{/if}}
</template>

<template name="churches">
    <div class="container">
        <div class="row text-center">
            <h1>Cadastrar Igreja</h1>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {{> quickForm collection=formCollection id="insertChurchForm" type="insert"}}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</template>
