<template name="rallypannel">
    {{#if isInRole 'Administrador'}}
    <div class="container">
        <div class="row text-center">
            <h1>Painel de Rallys</h1>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <table class="table">
                    <tr>
                        <th>Rally</th>
                        <th>Regularidade</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th>Pilotos</th>
                        <th>Atualizar</th>
                    </tr>
                    {{#each rallys}}
                    <tr>
                        <td>{{rallyName}}</td>
                        <td>{{regularity}}</td>
                        <td>{{startDate}}</td>
                        <td>{{finishDate}}</td>
                        <td>2</td>
                        <th><span class="glyphicon glyphicon-info-sign" href="/admin/rally/"></span></th>
                    </tr>

                    {{/each}}
                </table>

            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
    {{else}}
    <h1>Não Autorizado</h1>
    {{/if}}

</template>

<template name="rallyupdate">
    <div class="container">
        <div class="row text-center">
            <h1>Atualizar Rally</h1>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                {{> quickForm collection=formCollection doc=this id="updateRallyForm" type="update"}}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</template>

<template name="rallycreate">
    <div class="container">
        <div class="row text-center">
            <h1>Rally Bíblico</h1>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {{> quickForm collection=formCollection id="insertRallyForm" type="insert"}}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

</template>
